@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --font-title: "PT Serif", serif;
  --font-body: "Roboto", sans-serif;
}

html {
  font-family: var(--font-body);
  color: #222222;
  font-size: 14px;
}

.font-title {
  font-family: var(--font-title);
}

.text-hover:hover {
  color: #ffffff;
}

:root {
  --font-title: "PT Serif", serif;
  --font-body: "Roboto", sans-serif;
}

html {
  font-family: var(--font-body);
  color: #222222;
  font-size: 14px;
}

.font-title {
  font-family: var(--font-title);
}

.text-color {
  color: #222222;
}

.hover-color:hover {
  color: #c4302e;
}
